kind: ServiceAccount
apiVersion: v1
metadata:
  name: {{ service_account_name }}
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ service_account_name }}-runner
rules:
  - apiGroups: [""]
    resources: ["persistentvolumes"]
    verbs: ["get", "list", "watch", "create", "delete"]
  - apiGroups: [""]
    resources: ["persistentvolumeclaims"]
    verbs: ["get", "list", "watch", "update"]
  - apiGroups: ["storage.k8s.io"]
    resources: ["storageclasses"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["create", "update", "patch"]
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: run-{{ service_account_name }}
subjects:
  - kind: ServiceAccount
    name: {{ service_account_name }}
    namespace: {{ project_namespace }}
roleRef:
  kind: ClusterRole
  name: {{ service_account_name }}-runner
  apiGroup: rbac.authorization.k8s.io
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: leader-locking-{{ service_account_name }}
rules:
  - apiGroups: [""]
    resources: ["endpoints"]
    verbs: ["get", "list", "watch", "create", "update", "patch"]
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: leader-locking-{{ service_account_name }}
subjects:
  - kind: ServiceAccount
    name: {{ service_account_name }}
    # replace with namespace where provisioner is deployed
    namespace: {{ project_namespace }}
roleRef:
  kind: Role
  name: leader-locking-{{ service_account_name }}
  apiGroup: rbac.authorization.k8s.io
