apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ registry_pv_name }}
spec:
  capacity:
    storage: {{ registry_pvc_size }}
  accessModes:
  - ReadWriteMany
  nfs: 
    path: "{{ registry_pv_nfs_path }}"
    server: "{{ nfs_server_ip }}"
  persistentVolumeReclaimPolicy: Recycle