apiVersion: "v1"
kind: "PersistentVolumeClaim"
metadata:
  name: "image-registry-pvc"
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: "{{ registry_pvc_size }}"
  storageClassName: "{{ storage_class_name }}"
  volumeMode: Filesystem
